<form role="form" class="flowForm">
    <div class="form-group">
        <label for="first">Login:</label>
        <input id="first" name="name.first" class="form-control flowInput" data-attr="name:first" type="text" placeholder="Name">
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group">
        <label for="last">Login:</label>
        <input id="last" name="name.last" class="form-control flowInput" data-attr="name:last" type="text" placeholder="LastName">
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Login:</label>
        <input id="dateOfBirth" name="dateOfBirth" class="form-control flowInput" data-attr="dateOfBirth" type="date">
        <span class="help-block hidden"></span>
    </div>
    <button id="add">Create</button>
</form>