<div id="CustomersView">
    <label for="first">FN</label>
    <input value="<%=model.name.first%>" type="text" class="name" id="first" data-attr="name:first">
    <label for="last">LN</label>
    <input value="<%=model.name.last%>" type="text" class="name" id="last" data-attr="name:last">
    <label for="dateOfBirth">DOB</label>
    <input value="<%=model.dateOfBirth%>" type="date" id="dateOfBirth" data-attr="dateOfBirth">
    <button id="update">Update</button>
    <button id="delete">Delete</button>
</div>