<div id="CustomersView">
    <label for="first">FN</label>
    <input value="<%=model.name.first%>" type="text" class="name" id="first" data-attr="name:first">
    <label for="last">LN</label>
    <input value="<%=model.name.last%>" type="text" class="name" id="last" data-attr="name:last">
    <label for="dateOfBirth">DOB</label>
    <input value="<%=model.dateOfBirth%>" type="date" id="dateOfBirth" data-attr="dateOfBirth">
    <label for="companyName">Company</label>
    <input value="<%=model.companyName%>" type="text" id="companyName" data-attr="companyName">
    <label for="mobile">Mobile</label>
    <input value="<%=model.phone.mobile%>" type="text" class="phone" id="mobile" data-attr="phone:mobile">
    <label for="work">WorkPhone</label>
    <input value="<%=model.phone.work%>" type="text" class="phone" id="work" data-attr="phone:work">
    <label for="skype">Skype</label>
    <input value="<%=model.skype%>" type="text" id="skype" data-attr="skype">
    <button id="update">Update</button>
    <button id="delete">Delete</button>
</div>